<h1 class="mt-5">Most recent posts</h1>


<div class="row mt-3 blog-index-show">
  {{#each posts}}
    <div class="col-md-6 mx-auto">

      <div class="card index-card mb-3">
        <img src="{{img}}" class="blog-img card-img-top img-fluid">
        <div class="card-body">
            <h4 class="card-title">{{title}}</h4>

          <p class="card-subtitle text-muted description-index mb-4">{{description}}</p>
          <p class="text-muted date-index d-inline">
              <i class="fa fa-clock"></i> {{date}}
          </p>
          <p class="text-muted user-info-index d-inline ml-3">
            <i class="fa fa-user"></i> {{name}}
          </p>

          <a class="btn btn-outline-secondary btn-sm float-right" href="/posts/{{id}}">Read More</a>
        </div>



      </div>

    </div>
    {{else}}
    <h3 class="text-center">no posts</h3>
</div>


{{/each}}
